// src/styles/components/_sideBar.scss
.sideBar {
  box-shadow: 0 0 0.175rem hsl(var(--clr-primary-300));
  width: 18rem;
  height: inherit;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: var(--size-md);

  @media only screen and (max-width: 50em) {
    display: none;
  }
}
