// src/styles/components/_themeToggle.scss
.theme-toggle-label {
  // TODO:: Use var properties for the colors
  --toggle-bg: #ebebeb;
  --toggle-bg-dark: #3a3a3a;
  --thumb-light: linear-gradient(180deg, #ffcc89, #d8860b);
  --thumb-dark: linear-gradient(180deg, #777, #3a3a3a);
  --toggle-width: 3rem;
  --toggle-height: 1.5rem;
  --thumb-size: 1.125rem;
  --thumb-offset: 0.1875rem;
  --shadow-subtle-inset: inset 0 1px 3px rgba(0, 0, 0, 0.15), inset 0 -1px 3px rgba(255, 255, 255, 0.4);
  --shadow-thumb: 0px 2px 4px rgba(0, 0, 0, 0.2);

  margin-block: auto;
  width: var(--toggle-width);
  height: var(--toggle-height);
  position: relative;
  display: inline-block;
  background: var(--toggle-bg);
  border-radius: var(--toggle-height);
  box-shadow: var(--shadow-subtle-inset);
  cursor: pointer;
  transition: background 0.3s ease;

  &:after {
    content: "";
    width: var(--thumb-size);
    height: var(--thumb-size);
    position: absolute;
    top: var(--thumb-offset);
    left: var(--thumb-offset);
    background: var(--thumb-light);
    border-radius: 50%;
    box-shadow: var(--shadow-thumb);
    transition: 0.3s ease;
  }

  &:active:after {
    width: calc(var(--thumb-size) + 0.5rem);
  }
}

.theme-toggle-checkbox {
  width: 0;
  height: 0;
  visibility: hidden;
  display: none;
}

.theme-toggle-checkbox:checked + .theme-toggle-label {
  background: var(--toggle-bg-dark);
}

.theme-toggle-checkbox:checked + .theme-toggle-label::after {
  left: calc(var(--toggle-width) - var(--thumb-size) - var(--thumb-offset));
  background: var(--thumb-dark);
}
