// src/styles/components/_userProfile.scss
.u-profile-section {
  background-color: hsl(var(--clr-bg-legacy));
  border-radius: var(--size-sm);
}

.profile-details {
  .content {
    display: grid;
    grid-template-columns: auto 30%;

    @media only screen and (max-width: 50em) {
      grid-template-columns: 1fr;
      gap: var(--size-md);
    }
  }
}
