// src/styles/utilities/_layout.scss
.u-w-full {
  width: 100%;
}
.u-max-w-md {
  max-width: var(--size-md-6);
}
.u-h-screen {
  height: 100vh;
}

.section-head {
  padding: 0.25rem;
  border-bottom: 1px solid hsl(var(--clr-surface-alt));
}
