// src/styles/utilities/_spacing.scss

.u-gap-md {
  gap: var(--size-md);
}

.u-gap-sm {
  gap: var(--size-sm);
}

.padding-inline-lg {
  padding-inline: var(--size-md-4);
}
.u-margin-inline-lg {
  margin-inline: var(--size-md-4);
}

.padding-block-lg {
  padding-block: var(--size-md-4);
}

.padding-inline-md {
  padding-inline: var(--size-md);
}

.padding-block-md {
  padding-block: var(--size-md);
}

// Padding
.u-padding-block-xs {
  padding-block: var(--size-xs);
}
.u-padding-block-sm {
  padding-block: var(--size-sm);
}
.u-padding-block-start-sm {
  padding-block-start: var(--size-sm);
}
.u-padding-block-end-sm {
  padding-block-end: var(--size-sm);
}

.u-padding-top-md {
  padding-top: var(--size-md);
}
.u-padding-bottom-md {
  padding-bottom: var(--size-md);
}

.u-padding-bottom-sm {
  padding-bottom: var(--size-md-sm);
}

.u-padding-start-md {
  padding-inline-start: var(--size-md);
}
.u-padding-end-md {
  padding-inline-end: var(--size-md);
}
.u-padding-inline-md {
  padding-inline: var(--size-md);
}
.u-padding-inline-sm {
  padding-inline: var(--size-sm);
}
.u-padding-block-md {
  padding-block: var(--size-md);
}

// Margin
.u-margin-top-lg {
  margin-top: var(--size-lg);
}
.u-margin-block-lg {
  margin-bottom: var(--size-lg);
}
.u-margin-inline-auto {
  margin-inline: auto;
}

.u-margin-block-auto {
  margin-block: auto;
}

.u-margin-inline-end-sm {
  margin-inline-end: var(--size-sm);
}

.u-margin-block-end-sm {
  margin-block-end: var(--size-sm);
}

.u-margin-inline-sm {
  margin-inline: var(--size-sm);
}
