// src/styles/utilities/_wrapper_utils.scss
.flex_wrapper {
  display: flex;
  gap: var(--size-md);
}

.flex_row {
  align-items: center;
}

.scroll-y {
  max-height: 100%;
  overflow-y: auto;
  padding-bottom: var(--size-lg);
}
