// src/styles/layouts/_dashboard.scss
@use "../abstracts/" as _abs;

.dashboard {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;

  @media only screen and (max-width: 50em) {
    grid-template-columns: 1fr;
    padding-inline: 0.5rem;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  // background-color: hsl(var(--clr-primary-500));
  // background-color: hsla(var(--clr-primary));
  padding-inline: var(--size-xs);

  @media only screen and (max-width: 50em) {
    max-height: 100%;
  }
}

.watch-video {
  @include _abs.content-block();
}

.terms_and_conditions {
  @include _abs.content-block();
  max-height: 100%;
  overflow-y: auto;
  margin-block: 1rem;
}

.intro-info {
  display: grid;
  text-align: center;
  justify-items: center;

  & p {
    max-width: 80%;
  }
}

.section_heading {
  text-transform: capitalize;
  font-size: var(--size-md-3);
}

.body_text {
  font-size: 1rem;
}

video {
  position: relative;
  width: 100%;
  height: auto;
  margin-inline: auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #000; /* fallback for no video loaded */
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.checkbox_consent {
  display: flex;
  gap: var(--size-sm-4);
  // margin-block-start: var(--size-md-3);
  justify-self: start;

  input[type="checkbox"] {
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
  }

  .input-container {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--size-xs);
    align-items: center;
    flex-direction: row-reverse;

    * {
      width: auto;
      margin: 0;
      padding: 0;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.button-text {
  padding: 0rem 0.75rem;
  border-radius: 0.275rem;
  color: hsl(var(--clr-primary-400));
  background-color: hsl(var(--clr-surface-alt));
  outline: transparent;
  border: none;
  text-transform: capitalize;
}

.grid-section {
  display: grid;
  gap: var(--size-md);
}

// payment
.invoice {
  @include _abs.content-block($max-height: 96%);
}

// acceptance-decision
.acceptance-decision {
  @include _abs.content-block();
}

.flex-main {
  display: flex;
}

.grid-autofill {
  --min-column-size: 30rem;
  display: grid;
  gap: var(--size-md-5);
  // padding-inline: var(--size-lg);
  // padding-block: var(--size-md);
  // margin-top: 20%;
  grid-template-columns: repeat(auto-fill, minmax(min(var(--min-column-size), 100%), 1fr));
}
