// styles/base/_reset.scss
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 6px;
  padding-block: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--clr-primary-300));
  border-radius: 4px;
  border: 1px solid transparent;
  background-clip: content-box;

  &:hover {
    width: 8px;
    background-color: hsl(var(--clr-primary-400));
  }
}

.sr-only {
  display: none;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

input[type="checkbox"],
.u-clickable,
button:hover {
  cursor: pointer;
}
/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
  font-size: var(--size-sm-6);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--size-sm-5_15);
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit; /* Inherit color from parent element */
  text-decoration: none; /* Remove underline */
  cursor: pointer; /* Change cursor to pointer */
}

a:hover,
a:focus,
a:active {
  color: inherit; /* Keep the same color on hover, focus, and active states */
  text-decoration: none; /* Maintain no underline */
}
