@use "../abstracts" as abs;

:root {
  @include abs.generate-theme-colors(abs.$light-colors);

  @each $scale, $sz in abs.$sizing {
    @each $index, $size in $sz {
      --size-#{$scale}-#{$index}: #{$size};
    }
  }

  @each $key, $value in abs.$base-sizes {
    --size-#{$key}: #{$value};
  }

  --ff-primary: #{abs.$ff-primary};
  --ff-secondary: #{abs.$ff-secondary};
  --ff-accent: #{abs.$ff-accent};
}

@media (prefers-color-scheme: dark) {
  :root {
    @include abs.generate-theme-colors(abs.$dark-colors);
  }
}

html,
body {
  height: 100%;
  font-family: var(--ff-primary);
  background-color: hsl(var(--clr-primary-600));
}
#root {
  height: inherit;
}
